// Gerneric branding colors

$background: #FFF9EC
$heading-color: #333333
$highlight: #d03f11

// Social colors
$linkedin: #2f74a7
$codepen: #000000
$behance: #0171DF

h1, h2, h3, h4
	color: $heading-color

#portfolio
	background-color: #eee

@mixin social-button
	background:
		position: 8px
		repeat: no-repeat
		size: 30px
	text-indent: 35px
	color: #fff

.linkedin
	@include social-button
	background:
		image: url('../img/linkedinicon.png')
		color: $linkedin
	&:hover
		background-color: lighten($linkedin, 10%)

.codepen
	@include social-button
	background:
		image: url('../img/codepenicon.png')
		color: $codepen
	&:hover
		background-color: lighten($codepen, 10%)

.behance
	@include social-button
	background:
		image: url('../img/behance.png')
		color: $behance
	&:hover
		background-color: lighten($behance, 10%)
