// Structure styling

@mixin table-parent 
	display: table
	width: 100%

@mixin table-child
	display: table-cell
	vertical-align: middle

@mixin grid
	display: flex

body
	margin: 0

header
	display: flex
	width: 100%
	justify-content: center
	align-items: center
	height: 350px

nav 
	height: 50px
	ul 
		list-style: none
		@include grid
		justify-content: space-around
		vertical-align: middle
		align-items: center
		-webkit-margin-before: 0
		-webkit-padding-start: 0
		width: 90%
		margin: 0 auto
		li 
			padding: 0 10px
			&:first-child
				flex: 1

hgroup
	width: 70%

@mixin button
	border: none
	font-size: 1em
	padding: 8px 10px
	border-radius: 3px
	margin-right: 7px
	line-height: 20px
	cursor: pointer

button
	@include button	

@mixin contain	
	width: 70%
	margin: 50px auto

.grid
	@include grid	
	div, figure
		flex: 1	

.contain 
	@include contain	


#portfolio
	.inner
		width: 70% 
		margin: 0 auto
		padding: 20px 0

figure
	margin: 40px 0

footer
	width: 90%
	margin: 0 auto
	text-align: center
	p
		font-size: 14px
		color: #6b6b6b


