// Typography styles
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400')

$heading-font: 'Raleway', sans-serif
$body-font: 'Open Sans', sans-serif

h1, h2, h3, h4, h5
	font-family: $heading-font
	font-weight: 300

p, li, span
	font-family: $body-font	

hgroup
	h1
		font-size: 3em
		font-weight: 400
	h2
		font-size: 1.2em

a
	text-decoration: none
	color: inherit
	font-weight: 400
	&:hover
		color: $highlight
