<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400");
/* line 12, ../sass/partials/_branding.sass */
=======
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400,500i");
/* line 7, ../sass/partials/_branding.sass */
>>>>>>> 09f43f78d702b2d6f4d86eb734fd8d75c63baf0d
h1, h2, h3, h4 {
  color: #333333;
}

/* line 15, ../sass/partials/_branding.sass */
#portfolio {
  background-color: #eee;
}

/* line 26, ../sass/partials/_branding.sass */
.linkedin {
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: 30px;
  text-indent: 35px;
  color: #fff;
  background-image: url("../img/linkedinicon.png");
  background-color: #2f74a7;
}
/* line 31, ../sass/partials/_branding.sass */
.linkedin:hover {
  background-color: #408fc9;
}

/* line 34, ../sass/partials/_branding.sass */
.codepen {
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: 30px;
  text-indent: 35px;
  color: #fff;
  background-image: url("../img/codepenicon.png");
  background-color: #000000;
}
/* line 39, ../sass/partials/_branding.sass */
.codepen:hover {
  background-color: #1a1a1a;
}

/* line 42, ../sass/partials/_branding.sass */
.behance {
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: 30px;
  text-indent: 35px;
  color: #fff;
  background-image: url("../img/behance.png");
  background-color: #0171DF;
}
/* line 47, ../sass/partials/_branding.sass */
.behance:hover {
  background-color: #158bfe;
}

/* line 7, ../sass/partials/_typography.sass */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 11, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

/* line 15, ../sass/partials/_typography.sass */
p, li, span, figcaption, button {
  font-family: "Open Sans", sans-serif;
}

/* line 19, ../sass/partials/_typography.sass */
p a, span a, figcaption a {
  color: #d03f11;
}
/* line 21, ../sass/partials/_typography.sass */
p a:hover, span a:hover, figcaption a:hover {
  color: #722209;
}

/* line 25, ../sass/partials/_typography.sass */
hgroup h1 {
  font-size: 3em;
  font-weight: 400;
}
/* line 28, ../sass/partials/_typography.sass */
hgroup h2 {
  font-size: 1.2em;
}

/* line 31, ../sass/partials/_typography.sass */
a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
/* line 35, ../sass/partials/_typography.sass */
a:hover {
  color: #d03f11;
}

/* line 38, ../sass/partials/_typography.sass */
figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

/* line 43, ../sass/partials/_typography.sass */
blockquote {
  font-family: "Open Sans", sans-serif;
  border-left: 4px solid #d03f11;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0;
  padding: 10px;
  font-weight: 400;
  line-height: 1.3em;
}
/* line 51, ../sass/partials/_typography.sass */
blockquote cite {
  display: block;
  color: #d03f11;
  padding-top: 5px;
}

/* line 32, ../sass/partials/_structure.sass */
body {
  margin: 0;
}

/* line 35, ../sass/partials/_structure.sass */
header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 350px;
}

/* line 42, ../sass/partials/_structure.sass */
nav {
  height: 50px;
}
/* line 44, ../sass/partials/_structure.sass */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  width: 90%;
  margin: 0 auto;
}
/* line 54, ../sass/partials/_structure.sass */
nav ul li {
  padding: 0 10px;
}
/* line 56, ../sass/partials/_structure.sass */
nav ul li:first-child {
  flex: 1;
}

/* line 59, ../sass/partials/_structure.sass */
hgroup {
  width: 70%;
}

/* line 73, ../sass/partials/_structure.sass */
button {
  border: none;
  font-size: 1em;
  padding: 8px 10px;
  border-radius: 3px;
  margin-right: 7px;
  margin-bottom: 10px;
  line-height: 20px;
  cursor: pointer;
}

/* line 86, ../sass/partials/_structure.sass */
.grid {
  display: flex;
}
/* line 88, ../sass/partials/_structure.sass */
.grid div, .grid figure {
  flex: 1;
}

@media only screen and (max-width: 420px) {
  /* line 91, ../sass/partials/_structure.sass */
  .mobile-block {
    display: block;
  }
}

/* line 95, ../sass/partials/_structure.sass */
.contain {
  width: 70%;
  margin: 50px auto;
}
@media only screen and (max-width: 420px) {
  /* line 95, ../sass/partials/_structure.sass */
  .contain {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 95, ../sass/partials/_structure.sass */
  .contain {
    width: 70%;
    margin: 50px auto;
  }
}

/* line 100, ../sass/partials/_structure.sass */
#portfolio .inner {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 105, ../sass/partials/_structure.sass */
figure {
  margin: 40px 0;
  padding: 5px;
}
@media only screen and (max-width: 420px) {
  /* line 105, ../sass/partials/_structure.sass */
  figure {
    text-align: center;
  }
}
/* line 110, ../sass/partials/_structure.sass */
figure img {
  max-width: 100%;
}

/* line 113, ../sass/partials/_structure.sass */
footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* line 117, ../sass/partials/_structure.sass */
footer p {
  font-size: 14px;
  color: #6b6b6b;
}

/* line 3, ../sass/partials/_imgslider.sass */
.ba-slider {
  position: relative;
  overflow: hidden;
}

/* line 7, ../sass/partials/_imgslider.sass */
.ba-slider img {
  width: 100%;
  display: block;
}

/* line 11, ../sass/partials/_imgslider.sass */
.ba-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

/* line 19, ../sass/partials/_imgslider.sass */
.handle {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  margin-left: -2px;
  background: rgba(0, 0, 0, 0.62);
  cursor: ew-resize;
}

/* line 29, ../sass/partials/_imgslider.sass */
.handle:after {
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  content: "";
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  background: #d03f11;
  background-image: url("../img/drag-arrow.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: #b8380f;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* line 51, ../sass/partials/_imgslider.sass */
.handle.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height: 45px;
  font-size: 30px;
}
