@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400");
/* line 7, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

/* line 11, ../sass/partials/_typography.sass */
p, li, span {
  font-family: "Open Sans", sans-serif;
}

/* line 15, ../sass/partials/_typography.sass */
hgroup h1 {
  font-size: 3em;
  font-weight: 400;
}
/* line 18, ../sass/partials/_typography.sass */
hgroup h2 {
  font-size: 1.2em;
}

/* line 5, ../sass/partials/_branding.sass */
h1, h2, h3, h4 {
  color: #333333;
}

/* line 8, ../sass/partials/_branding.sass */
#portfolio {
  background-color: #eee;
}

/* line 12, ../sass/partials/_structure.sass */
body {
  margin: 0;
}

/* line 15, ../sass/partials/_structure.sass */
header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
}

/* line 22, ../sass/partials/_structure.sass */
nav {
  height: 50px;
}
/* line 24, ../sass/partials/_structure.sass */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}
/* line 29, ../sass/partials/_structure.sass */
nav ul li {
  padding: 0 10px;
}
/* line 31, ../sass/partials/_structure.sass */
nav ul li:first-child {
  flex: 1;
}

/* line 34, ../sass/partials/_structure.sass */
hgroup {
  width: 70%;
}

/* line 42, ../sass/partials/_structure.sass */
#codepen {
  display: flex;
}
/* line 44, ../sass/partials/_structure.sass */
#codepen div {
  flex: 1;
}

/* line 47, ../sass/partials/_structure.sass */
#about {
  width: 70%;
  margin: 50px auto;
}

/* line 52, ../sass/partials/_structure.sass */
#portfolio .inner {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
